.ac {
    // margin-top: 8px;
    border: 1px solid lightgray;
    border-radius: 6px;
    background-color: inherit;
    box-sizing: border-box;
    padding: 5px 12px;
}

.ac .ac-header {
    margin: 0;
    padding: 0;
}

.ac .ac-trigger {
    font: bold 16px "Arial", sans-serif;
    color: #8a8a8a;
    text-align: left;
    width: 100%;
    padding: 8px 32px 8px 8px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.25s ease;
    position: relative;
    text-decoration: none;
    margin: 0;
    border: 0;
    position: relative;

}

// .ac .ac-trigger::after {
//     content: "";
//     text-align: center;
//     width: 15px;
//     -webkit-transform: translate(0, -50%);
//     transform: translate(0, -50%);
//     position: absolute;
//     right: 10px;
//     top: 50%;
// }

// .ac .ac-trigger:focus {
//     color: #8a8a8a;
// }

.ac .ac-panel {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
}

.ac .ac-panel .ac-text {
    font: 15px/24px "Arial", sans-serif;
    // color: #111;
    color: #FAFAFA;
    padding: 8px;
    margin: 0;
}

.ac.js-enabled .ac-panel {
    visibility: hidden;
}

.ac.is-active .ac-panel {
    visibility: visible;
}

.ac.is-active>.ac-header .ac-trigger::after {
    content: "";
}

// .accordion-container {
// flex-basis: calc((100%-20px)/2);
// }

.accordion-list {
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1220px;
    margin: 0 auto;
}

.icon-btn {
    width: 32px;
    height: 32px;
    border: 1px solid #fafafa;
    border-radius: 16px;
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
}

.icon-dwn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.icon-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hidden {
    display: none;
}